// LOGO FONT
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
// NAVBAR
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

// main FONT
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap");

// skini font
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
$Logo_FONT: "Righteous", cursive;
$MainFont: "Cairo", sans-serif;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(180, 184, 181);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
//*------------------NAVBAR----------------
nav {
  width: 100%;
  height: 4.5rem;
  background-color: rgb(25, 164, 164);
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  > h1 > a {
    color: azure;
    font-family: $Logo_FONT;
    font-size: 2.2rem;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    transition: 0.5s ease;
    a {
      color: azure;
    }
  }
  .hamContainer {
    width: 3.2em;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    cursor: pointer;
    display: none;
    > div {
      width: 80%;
      height: 4px;
      background-color: azure;
      border-radius: 5px;
      transition: 0.5s ease;
    }
    .line2 {
      width: 60%;
      margin-left: 5px;
    }
  }
}

@keyframes navAnimationLinks {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media screen and (max-width: 768px) {
  nav {
    position: relative;
    justify-content: space-around;
    border-bottom: 1px solid rgba(255, 255, 255, 0.161);
    ul {
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 4.5rem;
      width: 100vw;
      height: 88.4vh;
      background-color: rgb(25, 164, 164);
      transform: translateX(100vw);
      z-index: 5;
      li {
        opacity: 0;
      }
      a {
        color: azure;
      }
    }

    .hamContainer {
      width: 3.2em;
      height: 55%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      cursor: pointer;
      display: flex;
      > div {
        width: 80%;
        height: 4px;
        background-color: azure;
        border-radius: 5px;
      }
      .line2 {
        width: 60%;
        margin-left: 5px;
      }
    }
    .activeHam {
      .line2 {
        display: none;
      }
      .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  }
}

//* ::::::::::::::::::::::::::::::::::Lateset_Container
#Lateset_Container {
  width: 100%;
  height: 88.5vh;
  background-color: rgba(240, 255, 255, 0.311);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 8px 20px 0px #00000014;
  #latesetArticle {
    width: 50vw;
    height: 75vh;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    &:hover > a > img {
      transform: scale(1.05);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.2s ease-in;
    }
    h1 {
      font-size: 1.8rem;
      color: azure;
      position: absolute;
      left: 15px;
      bottom: 15%;
      font-family: $MainFont;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
    #tag {
      position: absolute;
      top: 20px;
      left: 15px;
      background-color: aquamarine;
      border-radius: 20px;
      font-family: $MainFont;
      font-size: 0.9rem;
      padding: 2px 8px;
      font-weight: bold;
      opacity: 0.8;
      user-select: none;
    }
  }
  .side_actions {
    width: 27vw;
    min-height: 75vh;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    overflow: hidden;
    .BtnsSideContiner {
      width: 100%;
      height: 3rem;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      #PupBtn {
        background-color: #19a4a4;
        color: azure;
        text-align: center;
        padding: 10px 20px;
        border-radius: 20px;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0px 0px 6px 3px #00000022;
      }
      #RecBtn {
        background-color: transparent;
        color: rgba(0, 0, 0, 0.739);
        border: 1px solid #ebebeb;
        text-align: center;
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
      }
    }
    .s_a_SLOT {
      width: 100%;
      min-height: 5.5rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
      img {
        width: 42px;
        height: 42px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0px 0px 6px 3px #00000036;
        margin-left: 10px;
      }
      h1 {
        font-family: $MainFont;
        font-weight: bold;
        color: #203656;
        padding: 0 20px;
      }
      h3 {
        font-size: 0.7rem;
        position: absolute;
        bottom: 5px;
        left: 4.5rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #Lateset_Container {
    #latesetArticle {
      h1 {
        font-size: 1.5rem;
      }
    }
    .side_actions {
      width: 28vw;
      .BtnsSideContiner {
        margin-top: 0.5rem;
        #PupBtn {
          padding: 7px 20px;
        }
        #RecBtn {
          border-radius: 20px;
        }
      }
      .s_a_SLOT {
        width: 100%;
        min-height: 5.5rem;
        img {
          width: 40px;
          height: 40px;
        }
        h1 {
          padding: 0 15px;
          font-size: 1rem;
        }
        h3 {
          font-size: 0.7rem;
          position: absolute;
          bottom: 3px;
          left: 4rem;
        }
      }
    }
  }
}
@media screen and (max-width: 802px) {
  #Lateset_Container {
    width: 100%;
    min-height: 200vh !important;
    padding: 20px;
    flex-direction: column;
    #latesetArticle {
      width: 90vw;
      height: 70vh;
    }
    .side_actions {
      width: 90vw;
      .s_a_SLOT {
        width: 100%;
        min-height: 5.5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        img {
          width: 45px;
          height: 45px;
        }
        h1 {
          font-family: $MainFont;
          font-weight: bold;
          color: #203656;
          padding: 0 10px;
        }
        h3 {
          font-size: 0.7rem;
          position: absolute;
          bottom: 5px;
          left: 42%;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #Lateset_Container {
    #latesetArticle {
      h1 {
        font-size: 1.5rem;
      }
    }
    .side_actions {
      width: 90vw;
      height: 100vh;
      .BtnsSideContiner {
        margin-top: 0.5rem;
        #PupBtn {
          padding: 7px 20px;
        }
        #RecBtn {
          border-radius: 20px;
        }
      }
      .s_a_SLOT {
        width: 100%;
        min-height: 5.5rem;
        img {
          width: 40px;
          height: 40px;
        }
        h1 {
          padding: 0 15px;
          font-size: 1rem;
        }
        h3 {
          font-size: 0.7rem;
          position: absolute;
          bottom: 3px;
          left: 4rem;
        }
      }
    }
  }
}

// *<!--!-------------------------------FeedContainer ----------------------->
.sec__title {
  width: 100%;
  height: 15vh;
  margin: 3rem 0 1rem 0;

  h1 {
    margin: 0 5%;
    font-size: 2rem;
    font-family: $MainFont;
    position: relative;
    color: #7f7f7f;
    &:after {
      content: "";
      width: 50%;
      height: 2px;
      background-color: #ebebeb;
      position: absolute;
      margin-left: 0.5em;
      bottom: 40%;
    }
  }
}
.Rec__articlesWrp {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 20px 0;
  .recent__artContainer {
    width: 60%;
    min-height: 100vh;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //LOAD MORE BTN
    > button {
      border: 2px solid #2036562f;
      color: #20365665;
      height: 2.5rem;
      width: 120px;
      border-radius: 20px;
      margin: 1em auto;
      font-size: 1em;
      font-family: $MainFont;
      transition: 0.3s ease-in;
      &:hover {
        color: #eb2b5b;
        border: 1px solid #eb2b5b;
        transform: translateY(-5px);
      }
    }
    article {
      width: 100%;
      height: 14rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .img_wpr {
        width: 35%;
        height: 95%;
        border-radius: 10px;
        overflow: hidden;
        &:hover > a > img {
          transform: scale(1.05);
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.2s ease-in-out;
        }
      }
      .art__detailsC {
        width: 60%;
        height: 100%;
        position: relative;

        h1 {
          font-family: $MainFont;
          color: #203656;
          font-weight: bold;
          font-size: 1.2rem;
          padding: 20px 5px 10px 10px;
        }
        > p {
          color: #7f7f7f;
          font-size: 0.9rem;
          padding: 0px 5px 10px 10px;
        }
        .articleDATA {
          width: 100%;
          min-height: 3rem;
          display: flex;
          align-items: center;
          > img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
            margin: 0 2rem;
          }
          span,
          p {
            margin: 0 1rem;
            font-size: 0.8rem;
            font-family: $MainFont;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 5px;
              height: 5px;
              background-color: #19a4a4;
              bottom: 50%;
              left: -15%;
              transform: translateY(50%);
              border-radius: 50%;
            }
          }
        }
        > a > i {
          position: absolute;
          bottom: 15px;
          right: 20px;
          font-size: 1.2rem;
          cursor: pointer;
          color: #7f7f7f;
        }
      }
    }
  }

  .tagsContiner {
    width: 30%;
    max-height: 80vh;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    > h3 {
      font-size: 1.5em;
      text-align: center;
      padding: 20px 0 0 0;
      color: #203656;
      font-weight: bold;
      user-select: none;
    }
    > hr {
      width: 70%;
      margin: 1em auto;
    }
    .content-tags {
      width: 100%;
      min-height: 70%;
      margin-top: 2em;

      > button {
        border: 1px solid #2036562f;
        color: #20365665;
        height: 1.8em;
        min-width: 70px;
        padding: 0 10px;
        border-radius: 10px;
        margin: 0.5em;
        font-size: 0.9em;
        transition: 0.3s ease-in;
        &:hover {
          color: #eb2b5b;
          border: 1px solid #eb2b5b;
          transform: translateY(-5px);
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .articleDATA {
    > img {
      margin: 0 1rem !important;
    }
    span,
    p {
      margin: 0 0.7rem !important;
      font-size: 0.8rem !important;
    }
  }
  article {
    .art__detailsC {
      width: 60%;
      height: 100%;
      position: relative;

      h1 {
        font-family: $MainFont;
        color: #203656;
        font-weight: bold;
        font-size: 1rem !important;
        padding: 10px !important;
      }
      > p {
        font-size: 0.8rem !important;
        padding: 0px 5px 10px 10px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Rec__articlesWrp {
    flex-direction: column-reverse;
    align-items: center;
    .recent__artContainer {
      width: 90%;

      article {
        width: 100%;
        height: 14rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 1rem;
        padding: 10px;
        .img_wpr {
          width: 40%;
          height: 100%;
        }
        .art__detailsC {
          h1 {
            font-family: $MainFont;
            color: #203656;
            font-weight: bold;
            font-size: 1.2rem !important;
          }
        }
      }
    }

    .tagsContiner {
      width: 90%;
      min-height: 80vh;
      padding: 20px;
      margin: 1rem 0;
      .content-tags {
        width: 100%;
        min-height: 100%;
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .Rec__articlesWrp {
    .recent__artContainer {
      article {
        .img_wpr {
          width: 0%;
          height: 0%;
          display: none;
        }
        .art__detailsC {
          width: 95%;
          h1 {
            font-size: 1.1rem !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .tagsContiner {
    min-height: 90vh !important;
  }
}

//*<!--!--------------------------------sub sec

.Sub_container {
  width: 93%;
  min-height: 38vh;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  margin: 2em auto;
  position: relative;
  img {
    max-width: 150px;
    position: absolute;
    left: 10%;
    top: 65%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
  }
  h1 {
    padding: 5px 20px;
    font-size: 2em;
    color: #203656;
    font-weight: bold;
    z-index: 1;
  }
  p,
  h3 {
    text-align: center;
    padding: 5px 100px;
    color: #203656c6;
    font-size: 0.9em;
    font-weight: bold;
    z-index: 1;
  }
  .sub_wrpper {
    width: 65%;
    height: 3em;
    margin: 1.5em auto;
    display: flex;
    overflow: hidden;
    border-radius: 40px;
    border: 1px solid #eee;

    input {
      width: 70%;
      border: none;
      padding: 0 40px;
      z-index: 1;
    }
    button {
      width: 30%;
      background-color: #45d9ce;
      font-weight: bold;
      color: azure;
      transform: 0.4s ease-in-out;
      &:hover {
        background-color: rgb(238, 94, 125);
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .Sub_container {
    p,
    h3 {
      padding: 0px 50px;
    }
    img {
      width: 100px;
    }
    .sub_wrpper {
      width: 75%;
      height: 3em;
      margin: 1.5em auto;
      display: flex;
      overflow: hidden;
      border-radius: 40px;
      border: 1px solid #eee;

      input {
        width: 75%;
        border: none;
        padding: 0 40px;
        z-index: 1;
      }
      button {
        width: 25%;
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .Sub_container {
    p,
    h3 {
      padding: 0px 5px;
      font-size: 0.6rem;
    }
    img {
      display: none;
    }
    .sub_wrpper {
      width: 95% !important;
      height: 2.5em;
      input {
        width: 75%;
        border: none;
        padding: 0 40px;
        z-index: 1;
        font-size: 0.8rem;
      }
      button {
        width: 25%;
        font-size: 0.8rem;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .Sub_container {
    p,
    h3 {
      padding: 0px 10px;
      font-size: 0.7rem;
    }
    img {
      width: 100px;
      padding: 15px;
    }
    .sub_wrpper {
      width: 75%;
      height: 2.5em;
      input {
        width: 75%;
        border: none;
        padding: 0 40px;
        z-index: 1;
        font-size: 0.8rem;
      }
      button {
        width: 25%;
        font-size: 0.8rem;
      }
    }
  }
}
